In [1]:
import numpy as np
import pandas as pd

In [2]:
ratings_df = pd.read_csv("ratings.csv")

In [3]:
ratings_df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [4]:
book_rating_mean = ratings_df.groupby(by='book_id').agg({'rating':np.mean}).reset_index()

In [5]:
book_rating_mean.loc[book_rating_mean["rating"] == book_rating_mean["rating"].min()]

      book_id    rating
1792     1793  2.077966

In [6]:
book_rating_mean[book_rating_mean["book_id"] == 1]["rating"].values[0]

4.2797070946242215

In [23]:
recom_books = [{267:5.25}, {520:5.15}, {1462:5.03}, {25:5.01}, {6895:4.98}, {1913:4.97}, {3911:4.93}, {1793:4.92}, {827:4.92}, {3329:4.91}]

In [24]:
already_read = [267,569]

# 过滤图书

In [25]:
filter_books = recom_books
for d in filter_books:
    for key,value in d.items():
        if book_rating_mean[book_rating_mean["book_id"] == key]["rating"].values[0] < 4.0 :
            print("已过滤质量差的图书：%d" % key)
            recom_books.remove({key:value})
        if key in already_read:
            print("已过滤已经读过的图书：%d" % key)
            recom_books.remove({key:value})

已过滤已经读过的图书：267
已过滤质量差的图书：6895
已过滤质量差的图书：1793
已过滤质量差的图书：3329

In [26]:
recom_books

[{520: 5.15},
 {1462: 5.03},
 {25: 5.01},
 {1913: 4.97},
 {3911: 4.93},
 {827: 4.92}]

# 图书排名

In [28]:
read_time = np.random.randint(0,1000,(5000,5000))

In [29]:
read_time

array([[467, 840, 444, ..., 427, 166, 768],
       [928, 889, 519, ..., 410, 209, 754],
       [618, 814, 553, ..., 633, 636, 399],
       ...,
       [164, 869, 130, ...,  10, 426, 795],
       [490, 329, 253, ..., 526, 858, 272],
       [391, 271, 929, ..., 699, 129, 116]])

In [30]:
time_wight = []

In [33]:
recom_books_count = len(recom_books)

In [34]:
recom_books_count

6

In [36]:
for d1 in recom_books:
    d1_sum  = 0.0
    d1_key = 0
    for d2 in recom_books:
        if d1 != d2:
            for k1,v1 in d1.items():
                for k2,v2 in d2.items():
                    d1_sum += read_time[k1][k2]/read_time[k2][k1]
                    d1_key = k1
    d1_s = d1_sum/recom_books_count
    time_wight.append({d1_key:d1_s})

In [37]:
time_wight

[{520: 0.8561357657658996},
 {1462: 2.0991672577785634},
 {25: 2.9168413632993366},
 {1913: 1.5949036494441582},
 {3911: 0.6916110394080537},
 {827: 0.7228897120724668}]

In [61]:
recommend_books,recommend_wight = [],[]

In [62]:
a = list(time_wight[0].keys())[0]

In [63]:
a

520

In [64]:
for i in range(0,recom_books_count):
    recommend_books.append(list(recom_books[i].keys())[0])
    this_rating = list(recom_books[i].values())[0]
    t_wight = list(time_wight[i].values())[0]
    q = this_rating * t_wight
    recommend_wight.append(q)

In [65]:
recommend_books

[520, 1462, 25, 1913, 3911, 827]

In [68]:
recommend_wight = np.array(recommend_wight)

In [69]:
recommend_wight

array([ 4.40909919, 10.55881131, 14.61337523,  7.92667114,  3.40964242,
        3.55661738])

In [71]:
wight_sort_index = np.argsort(-recommend_wight)

In [72]:
wight_sort_index

array([2, 1, 3, 0, 5, 4], dtype=int64)

In [73]:
new_recommend_books = []

In [74]:
for i in range(0,recom_books_count):
    new_recommend_books.append(recommend_books[wight_sort_index[i]])

In [75]:
new_recommend_books

[25, 1462, 1913, 520, 827, 3911]

In [76]:
recommend_books

[520, 1462, 25, 1913, 3911, 827]

In [77]:
print("未排序的图书推荐顺序为：",recommend_books)
print("排序后的图书推荐顺序为：",new_recommend_books)

未排序的图书推荐顺序为： [520, 1462, 25, 1913, 3911, 827]
排序后的图书推荐顺序为： [25, 1462, 1913, 520, 827, 3911]