In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# 处理得到用户评分矩阵ratings

In [2]:
ratings_df = pd.read_csv("ml-latest-small/ratings.csv")

In [3]:
movie_df = pd.read_csv("ml-latest-small/movies.csv")

In [4]:
movie_df.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
movie_df["movieRow"] = movie_df.index

In [6]:
ratings_df = pd.merge(ratings_df,movie_df,on='movieId')

In [7]:
ratings_df['movieId'] = ratings_df['movieRow']

In [8]:
ratings = ratings_df[['userId','movieId','rating']]

In [9]:
ratings.tail()

        userId  movieId  rating
100831     610     9325     2.5
100832     610     9330     4.5
100833     610     9342     3.0
100834     610     9389     3.5
100835     610     9390     3.5

In [10]:
ratings.to_csv('ratingsProcessed.csv',index=False,header=True,encoding='utf-8')

# 将用户评分矩阵ratings分为训练集train_rating和测试集test_rating

In [11]:
x,y = ratings[['userId','movieId']],ratings[['rating']]

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [13]:
train_rating = pd.merge(x_train,y_train,right_index=True,left_index=True)

In [14]:
test_rating = pd.merge(x_test,y_test,right_index=True,left_index=True)

In [15]:
train_rating.to_csv('train_rating.csv',index=False,header=True,encoding='utf-8')

In [16]:
test_rating.to_csv('test_rating.csv',index=False,header=True,encoding='utf-8')

In [17]:
train_rating

        userId  movieId  rating
6481       140      836     4.0
4277       524      509     3.0
36110      567     3638     3.0
42524      563     7091     3.5
88427      474     5715     4.0
59103       75     1055     4.0
2189       313      275     4.0
64637      234     1552     4.0
34324       66     1267     4.5
39027      480     5738     4.0
58492      597      685     3.0
74997      599     1136     2.0
49745       47     3562     0.5
78401       89      691     2.5
58158      151      597     3.0
90136      318     9331     3.5
4641       561      513     4.0
4537       503      510     3.5
96259      298     6554     0.5
69969       64      918     5.0
68113      317     7769     3.0
100741     610     7335     4.0
17842      561     8063     3.0
21465      356      958     3.5
30139      240      235     4.0
90422      599     3355     3.5
50429      304      793     4.0
80890      438     4445     2.5
64310      382     2860     3.5
30596      541      254     3.0
...        ...      ...     ...
81587      312     3061     5.0
79537      325     3183     3.0
25550       56      126     4.0
89956      600     6206     2.0
62664      285     2110     4.0
32289      436      404     2.0
33342      477      618     0.5
7290       487      900     3.5
36184      298     3640     3.0
67638      378     6885     3.5
51595       68      549     4.0
49391      590      975     5.0
53604      307     4301     3.5
47475      258     7090     4.5
76278      424     1031     4.5
94248      298     6578     0.5
96746      380     7263     3.5
55552      211     6609     4.0
9289       483     1060     3.5
9224       414      996     4.0
43002      514     7665     4.0
16241      599     2847     2.5
17904       15     8376     4.0
37597       62     4427     4.0
10201       73     1298     5.0
9372       304     1084     3.0
93553      448     7810     2.0
50496      590      793     4.0
94735      288     3586     3.0
83209      563     2221     2.0

[80668 rows x 3 columns]

In [18]:
test_rating

       userId  movieId  rating
35355     223     3194     4.0
58936     514     1022     3.5
7864      553      914     5.0
95222     357     5084     4.0
49785     254     3562     4.5
18703     608     2416     3.0
1939      223      257     3.0
46835     200     6330     3.5
75561      40      194     3.0
37154     414     4137     5.0
16588     564      277     3.0
18485     430     1054     2.0
78460     504      988     2.5
83164     480     2049     4.0
53483      63     4118     3.5
5146      288      592     3.0
91833     307     3556     2.5
22159      68     1404     4.0
82937     448      775     3.0
51433     489      375     2.5
27881     234       23     5.0
34125     542      945     5.0
86401     578     3692     3.5
24654     598     3141     1.0
90576     597     1434     4.0
58115     608      558     4.0
4300      600      509     2.5
80529     552     1702     4.0
53646     200     4356     4.0
71882     403     2349     4.0
...       ...      ...     ...
79345     160     1909     1.0
61768      19     1797     4.0
10365     138     1333     0.5
56927     111     8179     5.0
43229     567     8200     0.5
71480     597      442     3.0
13128     209     1979     2.0
40449     199     4117     3.5
14554     182     2248     2.5
45706      24     1158     4.0
46466     381     3461     4.5
93623     559      237     2.0
10651     606     1480     2.5
5699      560      705     4.0
93224     191       87     5.0
9636      186     1181     4.0
82395     200     4645     4.0
71871      57     2349     3.0
20354     391      628     5.0
96268     334     6853     3.0
71607     199     1001     4.0
38366     232     5171     2.5
85095     365     8816     3.0
86060      84      589     3.0
71755     603     2135     3.0
3179      597      398     5.0
25390     159      123     4.0
15622     312     2636     3.0
6179      380      820     5.0
98499     448     2467     3.0

[20168 rows x 3 columns]