In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import pymysql

In [ ]:
conn=pymysql.connect(host="localhost",user="root",passwd="liugang666",db="book_crossing",charset="utf8")

In [ ]:
query_bookRatings_sql = "select * from book_ratings"

In [ ]:
ratings_df = pd.read_sql(query_bookRatings_sql,con=conn)

In [ ]:
ratings_df.tail()

In [ ]:
ratings_df.head()

In [ ]:
query_books_sql = "select `ISBN`,`Book-Title` from books"

In [ ]:
books_df = pd.read_sql(query_books_sql,con=conn)

In [ ]:
books_df.head()

In [ ]:
books_df.tail()

In [ ]:
conn.close()

In [ ]:
#将ISBN替换为行号以节省空间方便运算

In [ ]:
books_df['booksRow'] = books_df.index

In [ ]:
books_df.head()

In [ ]:
ratings_df = pd.merge(ratings_df,books_df,on="ISBN")

In [ ]:
ratings_df.head()

In [ ]:
ratings_df = ratings_df[['User-ID','booksRow','Book-Rating']]

In [ ]:
ratings_df.head()

In [19]:
ratings_df.to_csv('ratingsProcessed.csv',index=False,header=True,encoding='utf-8')

In [20]:
books_df = books_df[['booksRow','Book-Title']]

In [21]:
books_df.to_csv('booksProcessed.csv',index=False,header=True,encoding='utf-8')

In [22]:
books_df.head()

   booksRow                                         Book-Title
0         0  The Way Things Work: An Illustrated Encycloped...
1         1                                    Mog's Christmas
2         2                                               Liar
3         3                       Twopence to Cross the Mersey
4         4  T.S. Eliot Reading "The Wasteland" and Other P...

In [23]:
userNo = ratings_df['User-ID'].max()+1

In [24]:
bookNo = ratings_df['booksRow'].max()+1

In [25]:
userNo

278855

In [26]:
bookNo

271379

In [27]:
from scipy.sparse import dok_matrix

In [28]:
rating = dok_matrix((userNo,bookNo), dtype=np.int8)
record = dok_matrix((userNo,bookNo), dtype=np.int8)

In [29]:
np.shape(rating)

(278855, 271379)

In [30]:
flag=0

In [31]:
ratings_df_length = np.shape(ratings_df)[0]

In [32]:
for index,row in ratings_df.iterrows():
    rating[(int(row['User-ID']),int(row['booksRow']))] = row['Book-Rating']
    record[(int(row['User-ID']),int(row['booksRow']))] = 1
    #flag +=1
    #ratings_df_length -=1
    #print('Processed %d, %d left' % (flag,ratings_df_length))

#构建模型

In [48]:
num_f = 20

In [49]:
U_parameters = tf.Variable(tf.random_normal([userNo,num_f],stddev=0.35))

In [55]:
print(U_parameters)

<tf.Variable 'Variable:0' shape=(278855, 20) dtype=float32_ref>

In [72]:
B_parameters = tf.Variable(tf.random_normal([bookNo,num_f],stddev=0.35))

In [75]:
loss = tf.reduce_sum((tf.matmul(U_parameters,B_parameters,transpose_b=True)-rating)**2)+tf.reduce_sum(U_parameters**2)+tf.reduce_sum(B_parameters**2)

TypeError: unsupported operand type(s) for -: 'Tensor' and 'dok_matrix'