In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
ratings_df = pd.read_csv("ratings.csv")

In [3]:
books_df = pd.read_csv("books.csv")

In [4]:
rating_max = ratings_df["rating"].max()

In [5]:
rating_min = ratings_df["rating"].min()

In [6]:
rating_max,rating_min

(5, 1)

In [7]:
booksId_max = books_df["book_id"].max()

In [8]:
booksId_max

10000

In [9]:
userId_max = ratings_df["user_id"].max()

In [10]:
userId_max

53424

In [11]:
selectUserId = int(input("请输入你要推荐的用户ID："))

请输入你要推荐的用户ID：5

In [12]:
selectUserId

5

In [13]:
selectUser_bookList = ratings_df.loc[ratings_df["user_id"]==selectUserId]["book_id"].values

In [14]:
selectUser_bookList

array([7601,  441, 6344, 4335, 1485, 1145, 2592,  431,  326,  887, 6014,
       3037, 1795,  305, 1339,   57, 8072, 4187, 5791, 4897, 8884, 4997,
       6774, 2637, 1742, 3267, 4829, 7591,  262, 4736, 2813,  164, 2888,
       8258,  112,  695, 4305, 1328, 3559, 3429,  458, 1009,  277, 3378,
       7141, 2207, 1563, 1195,    6, 1347, 1325,  623, 6510, 4131, 1182,
       5289, 8143,  473, 5167, 3744, 4539, 2431, 1770, 7474, 5143, 4344,
       6404, 7891, 4947,  626, 4247, 1723, 2396,  253, 1628, 6703,  794,
       5766, 3647, 1882, 2602, 3380, 1744, 1911,  139, 4380, 4546, 5117,
       6151, 4942,  451, 1345, 3691,  852, 4786, 7933, 6646, 1941, 4011,
       7487], dtype=int64)

In [15]:
selectUser_bookList.shape

(100,)

In [16]:
simUserCount = np.zeros(userId_max,dtype=np.int)

In [17]:
simUserCount.shape

(53424,)

In [18]:
print(simUserCount)

[0 0 0 ... 0 0 0]

In [19]:
for index,row in ratings_df.iterrows():
    if row["book_id"] in selectUser_bookList:
        simUserCount[row["user_id"]] = simUserCount[row["user_id"]]+1

In [20]:
simUserCount

array([0, 2, 0, ..., 0, 1, 2])

In [21]:
simUserId = np.argsort(-simUserCount)

In [22]:
trainUserId = simUserId[0:50]

In [23]:
trainUserId = trainUserId.tolist()

In [24]:
trainUserId

[5,
 4068,
 19029,
 13550,
 266,
 1602,
 6795,
 2826,
 16606,
 16066,
 1480,
 4427,
 47012,
 44069,
 25520,
 35588,
 7570,
 2899,
 22101,
 2167,
 2199,
 2358,
 26093,
 51814,
 22276,
 16126,
 2330,
 50439,
 18355,
 32160,
 20374,
 41861,
 43050,
 3642,
 1192,
 107,
 33147,
 18369,
 29972,
 1976,
 6184,
 17120,
 49330,
 26830,
 46227,
 22436,
 14213,
 5200,
 41356,
 6385]

In [25]:
trainBookId = []

In [26]:
for index,row in ratings_df.iterrows():
    if row["user_id"] in trainUserId and row["book_id"]  not in trainBookId:
        trainBookId.append(row["book_id"])

In [27]:
trainBookId

[958,
 7733,
 8934,
 2621,
 5215,
 7059,
 4395,
 82,
 1650,
 40,
 45,
 344,
 326,
 217,
 1401,
 3333,
 7426,
 7471,
 9731,
 5206,
 8349,
 8446,
 9748,
 8781,
 199,
 111,
 233,
 62,
 368,
 480,
 8847,
 1003,
 3758,
 637,
 866,
 377,
 46,
 1873,
 516,
 321,
 2320,
 278,
 50,
 11,
 94,
 236,
 316,
 239,
 322,
 283,
 666,
 167,
 481,
 117,
 110,
 2321,
 289,
 281,
 86,
 123,
 1186,
 13,
 192,
 130,
 32,
 7285,
 3,
 688,
 687,
 605,
 49,
 52,
 56,
 2084,
 3671,
 4915,
 694,
 174,
 47,
 5179,
 4971,
 26,
 9,
 1607,
 3705,
 7211,
 84,
 575,
 1117,
 1817,
 5201,
 5764,
 7351,
 726,
 7180,
 2890,
 8541,
 6277,
 9981,
 8418,
 8756,
 8972,
 5,
 1586,
 28,
 343,
 833,
 1388,
 1245,
 1407,
 1733,
 963,
 1301,
 488,
 705,
 703,
 37,
 1154,
 868,
 1623,
 7466,
 2910,
 9199,
 2989,
 4673,
 2560,
 191,
 258,
 3788,
 4836,
 1,
 4920,
 2423,
 917,
 6686,
 67,
 8814,
 98,
 7031,
 1669,
 8417,
 534,
 5818,
 3605,
 3213,
 2824,
 1230,
 1052,
 205,
 8422,
 1655,
 38,
 1485,
 2371,
 64,
 331,
 616,
 908,
 4772,
 16,
 441,
 2211,
 8730,
 8590,
 1911,
 2346,
 2517,
 2828,
 389,
 140,
 8425,
 417,
 1449,
 723,
 584,
 201,
 31,
 5155,
 2056,
 988,
 188,
 325,
 230,
 17,
 20,
 306,
 975,
 6932,
 7401,
 642,
 1234,
 2255,
 1481,
 1393,
 4181,
 665,
 568,
 144,
 307,
 658,
 691,
 232,
 1867,
 664,
 1325,
 338,
 3450,
 3697,
 126,
 410,
 982,
 72,
 1591,
 897,
 1431,
 628,
 2085,
 654,
 226,
 435,
 2953,
 208,
 22,
 100,
 121,
 209,
 181,
 2,
 66,
 48,
 4,
 8,
 14,
 58,
 42,
 79,
 71,
 83,
 109,
 194,
 103,
 9715,
 3129,
 106,
 1467,
 3433,
 2384,
 768,
 1024,
 473,
 514,
 1892,
 1176,
 902,
 521,
 538,
 3366,
 2639,
 3198,
 4131,
 2574,
 3982,
 2497,
 4025,
 4590,
 5777,
 2066,
 1640,
 186,
 4335,
 511,
 2688,
 771,
 1882,
 477,
 3812,
 1501,
 1744,
 5050,
 3380,
 922,
 2602,
 697,
 7552,
 4164,
 150,
 268,
 1806,
 2138,
 445,
 139,
 422,
 7,
 3989,
 89,
 3313,
 3184,
 74,
 382,
 275,
 88,
 176,
 1248,
 2041,
 2513,
 1585,
 379,
 2534,
 3946,
 35,
 3792,
 3618,
 523,
 1597,
 57,
 179,
 9841,
 3613,
 1090,
 4080,
 231,
 3757,
 3751,
 1936,
 2675,
 5240,
 5091,
 4854,
 3958,
 973,
 135,
 165,
 197,
 142,
 1712,
 2945,
 6012,
 671,
 3621,
 4295,
 282,
 312,
 200,
 9393,
 5766,
 3744,
 2500,
 567,
 4401,
 168,
 739,
 1288,
 1107,
 5149,
 4595,
 170,
 2539,
 242,
 2863,
 3125,
 2351,
 2878,
 145,
 1617,
 7941,
 1358,
 3280,
 367,
 574,
 4394,
 2268,
 6627,
 6569,
 5799,
 906,
 4589,
 185,
 677,
 2943,
 2314,
 3388,
 1657,
 3650,
 3338,
 5076,
 7593,
 495,
 1238,
 3092,
 6895,
 494,
 2290,
 1613,
 1598,
 5354,
 6025,
 3124,
 4336,
 4441,
 3892,
 323,
 2926,
 4531,
 8361,
 4103,
 284,
 264,
 401,
 1031,
 3126,
 1184,
 2304,
 3255,
 7409,
 4928,
 249,
 7605,
 7147,
 3088,
 822,
 1843,
 638,
 4493,
 924,
 1410,
 3714,
 2375,
 2853,
 39,
 3555,
 802,
 5624,
 4884,
 414,
 290,
 2180,
 1689,
 295,
 5628,
 215,
 212,
 4428,
 2005,
 119,
 657,
 442,
 2102,
 3427,
 2893,
 6,
 1334,
 5894,
 456,
 33,
 131,
 3916,
 424,
 1299,
 4872,
 1503,
 397,
 5292,
 3699,
 2024,
 3278,
 2669,
 2299,
 2382,
 1964,
 6167,
 9191,
 4769,
 4711,
 9233,
 5059,
 3647,
 5167,
 559,
 95,
 4160,
 7842,
 60,
 4779,
 2097,
 653,
 708,
 1270,
 520,
 5670,
 869,
 2190,
 3979,
 129,
 1246,
 598,
 4067,
 1853,
 3928,
 1663,
 3802,
 629,
 2419,
 25,
 18,
 24,
 27,
 21,
 23,
 380,
 8348,
 12,
 5138,
 6510,
 8143,
 4546,
 7958,
 1715,
 2133,
 4912,
 207,
 5429,
 754,
 1557,
 821,
 124,
 1424,
 8122,
 2074,
 2150,
 2745,
 1091,
 3108,
 2031,
 2296,
 3680,
 4127,
 3876,
 4797,
 5007,
 5282,
 7268,
 122,
 1083,
 3550,
 6280,
 404,
 5082,
 1660,
 8710,
 2704,
 4682,
 5835,
 8675,
 699,
 972,
 97,
 457,
 92,
 6243,
 2924,
 4294,
 6134,
 3161,
 87,
 7751,
 4380,
 9592,
 2300,
 190,
 797,
 8525,
 180,
 1361,
 791,
 107,
 152,
 44,
 169,
 686,
 420,
 622,
 571,
 683,
 552,
 784,
 132,
 505,
 3286,
 3614,
 3918,
 4289,
 4632,
 4542,
 4548,
 5030,
 5243,
 6823,
 8465,
 2427,
 2391,
 2477,
 3624,
 2531,
 3060,
 2019,
 2909,
 2756,
 2200,
 5633,
 6826,
 3866,
 2636,
 2485,
 7143,
 1448,
 243,
 1974,
 1419,
 9115,
 596,
 4276,
 986,
 5564,
 7822,
 3036,
 5251,
 1831,
 767,
 396,
 2272,
 710,
 3216,
 5023,
 3493,
 8655,
 221,
 878,
 2023,
 3556,
 4153,
 381,
 625,
 847,
 1317,
 1386,
 5737,
 1567,
 4265,
 2368,
 2087,
 3468,
 4639,
 7541,
 4368,
 75,
 904,
 34,
 2874,
 3258,
 270,
 304,
 1145,
 1675,
 885,
 76,
 43,
 1813,
 266,
 1564,
 4066,
 227,
 431,
 1138,
 336,
 1578,
 526,
 799,
 4187,
 1132,
 2735,
 305,
 1576,
 1427,
 1360,
 237,
 2478,
 2891,
 4964,
 2412,
 55,
 6562,
 8803,
 172,
 1403,
 5975,
 299,
 2834,
 91,
 259,
 376,
 1190,
 4207,
 4703,
 9896,
 1600,
 2274,
 332,
 542,
 641,
 347,
 602,
 292,
 2278,
 116,
 6201,
 5402,
 4345,
 3583,
 500,
 3452,
 545,
 77,
 120,
 2054,
 4977,
 2270,
 1718,
 3505,
 499,
 6936,
 1517,
 4286,
 1030,
 557,
 5930,
 30,
 689,
 589,
 2018,
 291,
 7828,
 166,
 655,
 1054,
 5622,
 4697,
 1563,
 2207,
 4392,
 2398,
 2393,
 729,
 5408,
 271,
 5654,
 3861,
 2071,
 3846,
 8230,
 816,
 3296,
 2288,
 483,
 2833,
 96,
 993,
 6140,
 244,
 522,
 4288,
 1439,
 7557,
 5209,
 815,
 5562,
 2373,
 430,
 421,
 7573,
 3686,
 9901,
 901,
 5514,
 2592,
 5518,
 5313,
 9519,
 2436,
 3448,
 8828,
 9452,
 7122,
 1484,
 9386,
 5548,
 4231,
 4497,
 7497,
 2277,
 6516,
 438,
 2396,
 4552,
 2981,
 2917,
 3619,
 3010,
 2349,
 823,
 6660,
 8387,
 2525,
 5302,
 342,
 269,
 1152,
 7109,
 7752,
 137,
 6802,
 5688,
 302,
 1459,
 1414,
 68,
 178,
 99,
 9196,
 6352,
 8468,
 692,
 2754,
 3870,
 4247,
 1500,
 327,
 8280,
 1281,
 947,
 385,
 2429,
 463,
 1543,
 6946,
 4538,
 310,
 2589,
 162,
 745,
 6835,
 1195,
 349,
 6851,
 425,
 213,
 1164,
 649,
 378,
 4543,
 1374,
 277,
 4846,
 465,
 6344,
 2431,
 3843,
 742,
 2225,
 787,
 6971,
 2506,
 5441,
 9475,
 609,
 675,
 1123,
 818,
 1208,
 3467,
 5603,
 320,
 9508,
 446,
 1995,
 850,
 8945,
 7158,
 7414,
 2664,
 874,
 1631,
 618,
 8124,
 7243,
 1000,
 4116,
 554,
 5870,
 6878,
 2030,
 1377,
 450,
 222,
 1826,
 966,
 2789,
 1037,
 6779,
 36,
 133,
 265,
 220,
 954,
 440,
 2359,
 4413,
 1115,
 1496,
 69,
 7131,
 6328,
 4624,
 9362,
 696,
 8751,
 592,
 1252,
 8019,
 9451,
 3709,
 1177,
 1292,
 2162,
 73,
 219,
 29,
 93,
 160,
 2860,
 646,
 78,
 503,
 789,
 556,
 553,
 5570,
 578,
 865,
 967,
 915,
 911,
 101,
 1042,
 339,
 296,
 728,
 863,
 454,
 971,
 998,
 4177,
 5028,
 3596,
 7075,
 1528,
 7275,
 204,
 361,
 590,
 9477,
 182,
 1339,
 2791,
 612,
 7651,
 2245,
 7821,
 3074,
 7601,
 112,
 1405,
 3741,
 6117,
 5771,
 5359,
 4794,
 887,
 6014,
 3037,
 1795,
 1203,
 8072,
 2155,
 4837,
 8706,
 9449,
 698,
 1698,
 1835,
 953,
 ...]

In [28]:
trainUserNo,trainBookNo = len(trainUserId),len(trainBookId)

In [29]:
trainUserNo,trainBookNo

(50, 2383)

In [30]:
train_ratings = np.zeros((trainUserNo,trainBookNo),dtype=np.float32)

In [31]:
for index,row in ratings_df.iterrows():
    if row["user_id"] in trainUserId and row["book_id"] in trainBookId:
        train_ratings[trainUserId.index(row["user_id"])][trainBookId.index(row["book_id"])] = row["rating"]

In [32]:
train_ratings

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 4., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [33]:
train_record = train_ratings>0

In [34]:
train_record = np.array(train_record,dtype=int)

In [35]:
train_record

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [36]:
temSum = 0.0
train_count = 0
for i in range(0,trainUserNo):
    for j in range(0,trainBookNo):
        if train_ratings[i][j] != 0. :
            temSum = temSum + train_ratings[i][j]
            train_count = train_count+1
train_global_rating_mean = temSum/train_count

In [94]:
train_global_rating_mean

3.790372193171332

In [122]:
f = 10
lamda = 0.01

In [123]:
def createBSVD(mean,userNo,bookNo,f):
    BIAS_u = train_global_rating_mean
    BIAS_bu = tf.Variable(tf.zeros((userNo,1),dtype=tf.float32))
    BIAS_bi = tf.Variable(tf.zeros((1,bookNo),dtype=tf.float32))
    BIAS_P = tf.Variable(tf.random_normal([userNo,f],stddev=1/(f**0.5),dtype=tf.float32))
    BIAS_Q = tf.Variable(tf.random_normal([bookNo,f],stddev=1/(f**0.5),dtype=tf.float32))
    BIAS_predict_rating = BIAS_u + BIAS_bu + BIAS_bi + tf.matmul(BIAS_P,BIAS_Q,transpose_b=True)
    BIAS_loss = tf.reduce_sum(((train_ratings-BIAS_predict_rating)*train_record)**2) + lamda*((tf.reduce_sum(BIAS_P)**2) + (tf.reduce_sum(BIAS_Q)**2) + (tf.reduce_sum(BIAS_bu)**2) + (tf.reduce_sum(BIAS_bi)**2))
    return BIAS_loss,BIAS_predict_rating

In [124]:
loss,predict = createBSVD(train_global_rating_mean,trainUserNo,trainBookNo,f)

In [125]:
learning_rate = 1e-4

In [126]:
optimizer = tf.train.GradientDescentOptimizer(learning_rate)

In [127]:
train = optimizer.minimize(loss)

In [128]:
sess = tf.Session()

In [129]:
init = tf.global_variables_initializer()

In [130]:
sess.run(init)

In [131]:
for i in range(1000): 
    if i % 100 == 0:
        print(i)
    sess.run(train)

0
100
200
300
400
500
600
700
800
900

In [132]:
predict_rating = sess.run(predict)

In [133]:
predict_rating

array([[4.479424 , 4.512636 , 4.083194 , ..., 4.0508633, 4.020274 ,
        4.0423   ],
       [2.895513 , 3.5214272, 4.014535 , ..., 3.469405 , 3.5842602,
        3.5335968],
       [4.881831 , 4.396787 , 4.140667 , ..., 4.5440125, 4.833091 ,
        4.6426954],
       ...,
       [3.128574 , 3.3536737, 3.8105323, ..., 3.8704035, 3.4639852,
        3.2353802],
       [5.0358543, 4.3196564, 3.6462862, ..., 4.20662  , 4.387491 ,
        4.080234 ],
       [4.9986043, 4.5349874, 4.160006 , ..., 4.32909  , 4.251503 ,
        3.905489 ]], dtype=float32)

In [134]:
selectUser_predictRating = predict_rating[0]

In [135]:
selectUser_predictRating

array([4.479424 , 4.512636 , 4.083194 , ..., 4.0508633, 4.020274 ,
       4.0423   ], dtype=float32)

In [136]:
selectUser_sortRating = np.argsort(-selectUser_predictRating)

In [137]:
selectUser_sortRating

array([1761,  487, 1089, ...,  687,  764, 1047], dtype=int64)

In [138]:
predict_rating_sort = np.sort(selectUser_predictRating)[::-1]

In [139]:
predict_rating_sort

array([5.247857 , 5.147886 , 5.0338616, ..., 2.59724  , 2.5589042,
       2.484163 ], dtype=float32)

In [140]:
predict_bookId = []
for i in range(0,trainBookNo):
    predict_bookId.append(trainBookId[selectUser_sortRating[i]])

In [141]:
predict_bookId

[267,
 520,
 1462,
 25,
 6895,
 1913,
 3911,
 4029,
 827,
 3329,
 459,
 3756,
 2610,
 4498,
 458,
 21,
 98,
 2320,
 3059,
 164,
 10,
 630,
 3124,
 192,
 4639,
 874,
 5794,
 249,
 261,
 2375,
 4706,
 1182,
 5289,
 1459,
 1496,
 9139,
 638,
 3247,
 258,
 9791,
 3193,
 8422,
 4247,
 24,
 8371,
 3946,
 188,
 2789,
 1241,
 131,
 6,
 39,
 5191,
 4947,
 27,
 1882,
 2890,
 5217,
 4552,
 2538,
 794,
 3205,
 7557,
 8198,
 6729,
 37,
 696,
 1653,
 422,
 364,
 6720,
 2614,
 1631,
 1709,
 5462,
 1196,
 176,
 168,
 2554,
 1301,
 7424,
 273,
 1248,
 773,
 3744,
 1711,
 335,
 602,
 1304,
 1068,
 608,
 8813,
 1792,
 89,
 397,
 8333,
 18,
 495,
 17,
 285,
 100,
 8608,
 4815,
 378,
 8184,
 731,
 3355,
 47,
 653,
 1308,
 278,
 3208,
 7109,
 421,
 4025,
 1317,
 291,
 840,
 4103,
 1728,
 737,
 210,
 914,
 553,
 1630,
 123,
 1152,
 451,
 430,
 3257,
 172,
 1868,
 2290,
 5167,
 7401,
 4856,
 649,
 2055,
 5243,
 1713,
 6025,
 5822,
 281,
 6549,
 2771,
 7487,
 2445,
 2570,
 2215,
 4412,
 2555,
 1052,
 883,
 4344,
 4696,
 3246,
 7733,
 4988,
 3074,
 29,
 2255,
 1503,
 155,
 3395,
 8715,
 232,
 238,
 5895,
 4116,
 9669,
 3722,
 1964,
 6770,
 1404,
 1636,
 664,
 9488,
 1275,
 3373,
 313,
 1370,
 2863,
 3955,
 2945,
 958,
 908,
 7275,
 7511,
 6181,
 4335,
 5562,
 2067,
 6971,
 5764,
 215,
 251,
 703,
 742,
 4131,
 3343,
 5578,
 6871,
 465,
 7,
 219,
 4316,
 1385,
 7278,
 1029,
 2066,
 9191,
 4382,
 8781,
 9091,
 54,
 9792,
 697,
 266,
 3958,
 3790,
 1419,
 1817,
 5921,
 2383,
 1147,
 6007,
 6140,
 1832,
 3802,
 1484,
 7552,
 253,
 5486,
 4617,
 208,
 117,
 7640,
 2030,
 1621,
 1176,
 425,
 1922,
 592,
 380,
 1299,
 3481,
 2102,
 4682,
 5313,
 150,
 707,
 3491,
 5080,
 868,
 2590,
 195,
 1455,
 6716,
 739,
 926,
 1157,
 6661,
 4928,
 1904,
 2833,
 2592,
 2612,
 8348,
 6295,
 8936,
 19,
 1948,
 5103,
 5138,
 4413,
 6823,
 5215,
 3277,
 1138,
 6516,
 1842,
 7474,
 4451,
 102,
 2501,
 665,
 442,
 4632,
 44,
 440,
 3705,
 2065,
 4334,
 5654,
 5031,
 1577,
 6352,
 148,
 346,
 2382,
 4658,
 1305,
 2,
 488,
 1895,
 7414,
 5028,
 1,
 4771,
 1326,
 8843,
 3394,
 110,
 6338,
 1574,
 886,
 8105,
 749,
 144,
 2917,
 1195,
 7497,
 6201,
 2408,
 1139,
 1770,
 6169,
 7874,
 9453,
 6129,
 74,
 2157,
 3228,
 2953,
 1107,
 1346,
 9847,
 3841,
 4863,
 2112,
 2427,
 4401,
 50,
 852,
 2695,
 2700,
 4295,
 77,
 382,
 6769,
 4177,
 693,
 1736,
 1870,
 2860,
 2003,
 8972,
 4594,
 3417,
 610,
 3035,
 62,
 2596,
 723,
 523,
 1174,
 1527,
 5844,
 9654,
 349,
 122,
 1031,
 2363,
 6835,
 461,
 180,
 4497,
 4843,
 7397,
 9533,
 626,
 250,
 6968,
 7059,
 1187,
 2828,
 6404,
 975,
 763,
 4239,
 143,
 1995,
 7240,
 795,
 360,
 1117,
 1962,
 3921,
 8090,
 57,
 6854,
 9335,
 918,
 658,
 5587,
 38,
 494,
 1900,
 4629,
 343,
 165,
 7471,
 1426,
 8722,
 815,
 2751,
 5236,
 216,
 9085,
 745,
 1361,
 2061,
 454,
 1003,
 4127,
 3844,
 1628,
 6496,
 726,
 141,
 7131,
 325,
 3619,
 243,
 233,
 3155,
 5969,
 1490,
 2213,
 2304,
 847,
 1738,
 2832,
 209,
 2135,
 891,
 5043,
 6236,
 9635,
 549,
 980,
 7348,
 8359,
 244,
 332,
 1615,
 5407,
 3010,
 87,
 596,
 3989,
 2478,
 2249,
 978,
 3730,
 982,
 7243,
 368,
 2767,
 2360,
 8529,
 7070,
 140,
 5843,
 5954,
 1572,
 80,
 283,
 3741,
 1264,
 5409,
 5166,
 1700,
 1154,
 6510,
 7891,
 3194,
 1044,
 2327,
 6887,
 212,
 7469,
 2517,
 787,
 2637,
 1238,
 7161,
 2791,
 2964,
 4164,
 95,
 8361,
 5332,
 2314,
 3090,
 2037,
 4568,
 456,
 242,
 381,
 991,
 169,
 420,
 8072,
 3792,
 1599,
 7094,
 5,
 4110,
 1873,
 2436,
 6627,
 4703,
 493,
 15,
 7177,
 5162,
 43,
 5558,
 1173,
 2190,
 6999,
 6497,
 126,
 7742,
 3751,
 1889,
 5185,
 270,
 3553,
 201,
 9287,
 8814,
 61,
 1292,
 922,
 2396,
 7409,
 1843,
 9427,
 9492,
 1810,
 3824,
 6753,
 5799,
 5459,
 1263,
 395,
 72,
 4305,
 4713,
 612,
 2088,
 46,
 1898,
 9930,
 2535,
 2918,
 1712,
 738,
 9614,
 6328,
 4051,
 4150,
 2122,
 4971,
 2909,
 609,
 6280,
 174,
 9348,
 84,
 695,
 2351,
 5952,
 1164,
 972,
 4001,
 1847,
 31,
 204,
 4437,
 637,
 5930,
 3448,
 4970,
 70,
 4772,
 3670,
 3016,
 5379,
 4392,
 2384,
 2349,
 7141,
 1533,
 702,
 6903,
 1341,
 295,
 220,
 5023,
 82,
 3613,
 252,
 1986,
 917,
 2444,
 64,
 417,
 9982,
 2372,
 7286,
 5987,
 1499,
 3846,
 8389,
 5818,
 9508,
 5143,
 2016,
 940,
 8019,
 3550,
 4624,
 3167,
 1988,
 1854,
 8,
 3198,
 3209,
 605,
 5117,
 2227,
 7752,
 3850,
 9362,
 6826,
 293,
 5082,
 9288,
 2621,
 9072,
 1252,
 5777,
 3490,
 63,
 3915,
 9312,
 1482,
 7914,
 8926,
 963,
 1699,
 59,
 4923,
 7885,
 3435,
 2534,
 135,
 1132,
 1316,
 858,
 106,
 2006,
 2418,
 4532,
 3843,
 1892,
 5966,
 7809,
 1894,
 1474,
 9150,
 2539,
 162,
 5468,
 5282,
 1650,
 473,
 2154,
 315,
 120,
 2485,
 1598,
 2393,
 42,
 1515,
 1589,
 8467,
 6686,
 1835,
 1903,
 305,
 4912,
 842,
 691,
 7902,
 2525,
 1288,
 1563,
 3805,
 5617,
 2335,
 3916,
 328,
 3596,
 1557,
 8471,
 6933,
 2334,
 590,
 8655,
 190,
 919,
 964,
 836,
 8713,
 6703,
 7822,
 1551,
 1145,
 2406,
 3264,
 4836,
 4798,
 9276,
 2047,
 1742,
 321,
 5467,
 271,
 1640,
 4589,
 4124,
 768,
 3125,
 9181,
 802,
 260,
 280,
 4607,
 542,
 296,
 3296,
 2772,
 1485,
 713,
 799,
 8912,
 3494,
 7817,
 9452,
 8803,
 8108,
 7285,
 5766,
 217,
 3794,
 312,
 2113,
 673,
 1876,
 1826,
 6802,
 677,
 3380,
 23,
 142,
 6159,
 2288,
 8468,
 2734,
 7351,
 2704,
 1689,
 3621,
 2888,
 1592,
 8778,
 5568,
 791,
 2933,
 2214,
 4168,
 9797,
 7634,
 1338,
 728,
 1081,
 6147,
 2580,
 4072,
 1943,
 3566,
 5761,
 5548,
 5633,
 1230,
 356,
 55,
 598,
 2086,
 1715,
 4420,
 672,
 7147,
 4543,
 2910,
 6180,
 866,
 75,
 7138,
 6243,
 5557,
 3697,
 2026,
 9651,
 30,
 2840,
 1000,
 2281,
 3671,
 1065,
 306,
 2639,
 633,
 1532,
 941,
 68,
 884,
 3236,
 4550,
 5927,
 1246,
 463,
 3647,
 7828,
 6660,
 2121,
 1083,
 2321,
 274,
 1401,
 1421,
 2819,
 6151,
 6659,
 3163,
 4041,
 4956,
 4590,
 5422,
 848,
 2824,
 5753,
 3685,
 357,
 8839,
 1410,
 115,
 146,
 1388,
 5260,
 832,
 7796,
 676,
 930,
 8318,
 618,
 5975,
 3378,
 5363,
 9786,
 2150,
 1018,
 3618,
 2915,
 4196,
 424,
 4876,
 7265,
 2155,
 3258,
 4259,
 775,
 8409,
 5791,
 3714,
 8934,
 2848,
 5622,
 1150,
 683,
 694,
 60,
 760,
 2368,
 2920,
 76,
 1038,
 1538,
 156,
 90,
 6517,
 1453,
 5835,
 833,
 628,
 556,
 2839,
 1345,
 5140,
 4254,
 5302,
 485,
 4542,
 1675,
 4524,
 6699,
 6592,
 1514,
 2658,
 1205,
 5091,
 6134,
 1685,
 119,
 2609,
 2991,
 1030,
 2847,
 4209,
 1838,
 3908,
 404,
 4846,
 733,
 3262,
 367,
 1184,
 3667,
 71,
 300,
 4274,
 9896,
 3184,
 9582,
 2244,
 2891,
 3866,
 399,
 521,
 5429,
 1524,
 9005,
 361,
 3200,
 6207,
 1790,
 2800,
 1016,
 2829,
 48,
 8124,
 3766,
 9841,
 4609,
 514,
 7908,
 898,
 2204,
 8572,
 2886,
 7426,
 3333,
 5402,
 1161,
 3359,
 1198,
 2207,
 5125,
 3623,
 6694,
 1234,
 1022,
 2718,
 5083,
 9314,
 4231,
 ...]

In [142]:
recomResult = {}
for i in range(0,20):
    recomResult[predict_bookId[i]] = predict_rating_sort[i]

In [143]:
recomResult.keys()

dict_keys([267, 520, 1462, 25, 6895, 1913, 3911, 4029, 827, 3329, 459, 3756, 2610, 4498, 458, 21, 98, 2320, 3059, 164])

In [149]:
recomlist = recomResult.keys()

In [151]:
for bid in recomlist:
    if bid in selectUser_bookList:
        recomResult.pop(bid)

In [152]:
books_df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [153]:
print("为用户ID为：%d的用户推荐的10本书是：" % (selectUserId))
idx = 1
for bid,prating in recomResult.items():
    bookname = books_df.loc[books_df["book_id"]==bid]["original_title"].values[0]
    print("第 %d 本图书id为  %d ，书名为：%s ，评分为：%.2f" % (idx,bid,bookname,prating))
    if idx == 10:
        break
    idx = idx +1

为用户ID为：5的用户推荐的10本书是：
第 1 本图书id为  267 ，书名为：The Nightingale ，评分为：5.25
第 2 本图书id为  520 ，书名为：ねじまき鳥クロニクル [Nejimakidori kuronikuru] ，评分为：5.15
第 3 本图书id为  1462 ，书名为：The Orphan Master's Son ，评分为：5.03
第 4 本图书id为  25 ，书名为：Harry Potter and the Deathly Hallows ，评分为：5.01
第 5 本图书id为  6895 ，书名为：How We Are Hungry ，评分为：4.98
第 6 本图书id为  1913 ，书名为：Rachel's Holiday ，评分为：4.97
第 7 本图书id为  3911 ，书名为：Drown ，评分为：4.93
第 8 本图书id为  4029 ，书名为：The Son ，评分为：4.92
第 9 本图书id为  827 ，书名为：To All the Boys I've Loved Before ，评分为：4.92
第 10 本图书id为  3329 ，书名为：The Heart Goes Last ，评分为：4.91